<div class="container site-section mb-5">
      <div class="row justify-content-center text-center">
        <div class="col-7 text-center mb-5">
          <h2>Как это работает?</h2>
          <p>Уникальная возможность увидеть изнанку привычного автомобиля</p>
        </div>
      </div>
      <div class="how-it-works d-flex">
        <div class="step">
          <span class="number"><span>01</span></span>
          <span class="caption">Время &amp; Место</span>
        </div>
        <div class="step">
          <span class="number"><span>02</span></span>
          <span class="caption">Машина</span>
        </div>
        <div class="step">
          <span class="number"><span>03</span></span>
          <span class="caption">Подробности</span>
        </div>
        <div class="step">
          <span class="number"><span>04</span></span>
          <span class="caption">Проверка</span>
        </div>
        <div class="step">
          <span class="number"><span>05</span></span>
          <span class="caption">Сделано</span>
        </div>

      </div>
    </div>